* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cotn_principal {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
    background: #cfd8dc; /* Old browsers */
    background: -moz-linear-gradient(
            -45deg,
            #cfd8dc 0%,
            #607d8b 100%,
            #b0bec5 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
            -45deg,
            #cfd8dc 0%,
            #607d8b 100%,
            #b0bec5 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
            135deg,
            #cfd8dc 0%,
            #607d8b 100%,
            #b0bec5 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cont_centrar {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-self: center;
    width: 100%;
}

.cont_login {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    width: 640px;
}

.cont_back_info {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    float: left;
    width: 640px;
    height: 280px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_forms {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 280px;
    background-color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 420px;
    top: -60px;
    left: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_sign_up {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 420px;
    top: -60px;
    left: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_img_back_grey {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}

.cont_img_back_grey > img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cont_img_back_ {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}

.cont_img_back_ > img {
    width: 100%;
    opacity: 0.3;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
    top: -20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
    top: -20px;
    left: -435px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_info_log_sign_up {
    position: absolute;
    width: 640px;
    height: 280px;
    top: 0px;
    z-index: 1;
}

.col_md_login {
    position: relative;
    float: left;
    width: 50%;
}

.col_md_login > h2 {
    font-weight: 400;
    margin-top: 70px;
    color: #757575;
}

.col_md_login > p {
    font-weight: 400;
    margin-top: 15px;
    width: 80%;
    color: #37474f;
}

.btn_login {
    background-color: #26c6da;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.col_md_sign_up {
    position: relative;
    float: left;
    width: 50%;
}

.cont_ba_opcitiy > h2 {
    font-weight: 400;
    color: #fff;
}

.cont_ba_opcitiy > p {
    font-weight: 400;
    margin-top: 15px;
    color: #fff;
}
/* ----------------------------------
background text
------------------------------------
 */
.cont_ba_opcitiy {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    background-color: rgba(120, 144, 156, 0.55);
    width: 80%;
    border-radius: 3px;
    margin-top: 60px;
    padding: 15px 0px;
}

.btn_sign_up {
    background-color: #ef5350;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.cont_forms_active_sign_up {
    z-index: 2;
}

@-webkit-keyframes animar_fondo {
    from {
        -webkit-transform: scale(1) translate(0px);
        -moz-transform: scale(1) translate(0px);
        -ms-transform: scale(1) translate(0px);
        -o-transform: scale(1) translate(0px);
        transform: scale(1) translate(0px);
    }
    to {
        -webkit-transform: scale(1.5) translate(50px);
        -moz-transform: scale(1.5) translate(50px);
        -ms-transform: scale(1.5) translate(50px);
        -o-transform: scale(1.5) translate(50px);
        transform: scale(1.5) translate(50px);
    }
}
@-o-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@-moz-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
.cont_form_login {
    position: absolute;
    opacity: 0;
    display: none;
    width: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    z-index: 2;
}

.cont_form_sign_up {
    position: absolute;
    width: 320px;
    float: left;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.sign_up_form {
    text-align: left;
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    color: #757575;
}

.cont_form_sign_up > h2 {
    margin-top: 50px;
    font-weight: 400;
    color: #757575;
    margin-right: 100px;
}

.sign_up_form > input {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}

.cont_form_login > h2 {
    margin-top: 110px;
    font-weight: 400;
    color: #757575;
}
.cont_form_login > a,
.cont_form_sign_up > a {
    color: #757575;
    position: relative;
    float: left;
    margin: 10px;
    margin-left: 30px;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 4px;
    background: #C3C3C3;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Main */
.container {
    margin: 0 250px;
    padding: 0;
    text-align: start;
}

.btn {
    display: flex;
    height: 50px;
    background: #ff9933;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    opacity: 0.8;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    text-align: start;

}

.header__inner {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.header__inner_title {
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: #f1c40f;
    background-image: linear-gradient(90deg, #ff9933, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 36px;
}



/* Socials */

.down {
    display: none;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
}

.icon:not(:last-child) {
    margin-right: 21px;
}

.nav__icon {
    fill: #ff9933;
    width: 25px;
    height: 25px;
}

.nav__icon--search {
    fill: #000000;
    position: absolute;
    top: 10px;
    left: 9px;
}


.socials {
    position: relative;
    margin-left: 630px;
    display: flex;
    justify-content: flex-end;
}

.socials-icons {
    text-decoration: none;
    cursor: pointer;
}

.socials-icons:not(:last-child) {
    margin-right: 20px;
}

.wrapper {
    position: absolute;
    top: 120%;
    left: -865%;
    transform: translate(-50%, -50%);
}

.search-box {
    width: 450px;
    height: 100px;
    position: relative;
}

.input {
    position: absolute;
    top: 12px;
    right: 49px;
    box-sizing: border-box;
    width: 0px;
    height: 40px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid #ff9933;
    transition: all 0.8s ease;
}


input[type="search"]::-webkit-input-placeholder {
    color: #ff9933;
}

input[type="search"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ff9933;
}
input[type="search"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #ff9933;
}
input[type="search"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #ff9933;
}
input[type="search"]:-moz-placeholder {
    /* Firefox 18- */
    color: #ff9933;
}

.btn_soc {
    position: absolute;
    width: 43px;
    height: 43px;
    background: linear-gradient(90deg, #ff9933, #ff0000);
    border-radius: 50%;
    right: 50px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
}

.input.active {
    width: 350px;
    right: 100px;
}

.btn_soc.animate {
    transform: rotate(-360deg);
    right: 100px;
}

/* */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    width: 800px;

}


.panel__content {
    display: flex;
    height: 180px;
}

.panel__content--second {
    height: 250px;
}

.panel__title {
    margin-right: 101px;
    width: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
}

.panel__main {

}

.panel__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.panel__main .btn {
    background: #F3F3F3;
    width: 268px;
    height: 53px;
    margin-top: 20px;
    margin-left: 0;
    transition: background .2s linear;
}

.panel__main .btn:hover {
    opacity: 0.8;
}


.panel__main .intro__btn__text {
    color: #000;
    transition: color .2s linear;
}

.panel__main__buttons {
    display: flex;
}

.panel__main__btn__delivery {
    cursor: pointer;
    width: 169px;
    height: 118px;
    border: #616161 1px solid;
    background: #fff;
    text-align: left;
}

.panel__main__btn__delivery.active {
    border: #000 2px solid;
}

.panel__main__btn-delivery-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    margin: 10px 0 2px 15px;
}

.panel__main__btn-delivery-subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 2px 15px;
}

.panel__main__btn-delivery-discription {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    margin: 15px 0 2px 15px;
}

.panel__main__btn__date {
    cursor: pointer;
    width: 75px;
    height: 66px;
    border: #616161 1px solid;
    background: #fff;

}

.panel__main__btn__date.active {
    border: #000 2px solid;
}

.panel__main__btn-date-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.panel__main__btn-date-subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.panel__main__btn-date-discription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 302px;
    margin: 10px 0 24px 0;
}

.panel__main__btn-select {
    margin-bottom: 20px;
    border: 0;
    border-bottom: #000 1px solid;
    padding: 0 10px 3px 0;
}

.panel__main__recipient-descriprion {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #CACACA;
    margin-top: -15px;
}

.panel__main__agree {
    position: relative;
}

.panel__main__agree-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 12px 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 370px;
}

/* Hide the browser's default checkbox */
.panel__main__agree-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.panel__main__agree-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ff9933;
}

/* On mouse-over, add a grey background color */
.panel__main__agree-container:hover input ~ .panel__main__agree-checkmark {
    background-color: #ff9933;
}

/* When the checkbox is checked, add a blue background */
.panel__main__agree-container input:checked ~ .panel__main__agree-checkmark {
    background-color: #ff9933;
}

/* Create the checkmark/indicator (hidden when not checked) */
.panel__main__agree-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.panel__main__agree-container input:checked ~ .panel__main__agree-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.panel__main__agree-container .panel__main__agree-checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel__main-info-input {
    width: 371px;
    overflow: visible;
    margin-bottom: 20px;
    border: 0;
    border-bottom: #828282 1px solid;
    color: #828282;

    padding: 5px;
}

.panel__pay {
    margin-left: 250px;
    height: 300px;
    width: 373px;
}

.panel__pay-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 8px 0;
    width: 371px;
    color: #515151;
}

.panel__payments__block{
    display: flex;
}

.panel__payments__item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 124px;
    height: 59px;
    border: #616161 1px solid;
    background: #fff;
    text-align: left;
}

.panel__payments__item.active {
    border: #000 2px solid;
}

.panel__payments__item-img {
    height: 21.463415145874023px;
    width: 40px;


}

.panel__payments__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

/* Order Footer */

.order__footer {
    position: absolute;
    margin: 162px 0 0 0;
    width: 1920px;
    height: 146px;
    background: #000000;
}

.footer__order__content {
    display: flex;
    justify-content: space-between;
}

.footer__order__content-main {
    display: flex;
    align-items: flex-end;
    margin-top: 43px;
}

.footer__order__column:not(:last-child) {
    margin-right: 40px;
}

.footer__order__column-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #ACACAC;
}

.footer__order__column-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #FFFBFB;
    text-decoration: none;
}

.footer-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #ACACAC;
    text-decoration: none;
}

/* Personality */

.personality {
    margin: 50px 0  ;
}

.personality__main {
    position: relative;
    display: flex;
}

.personality__column {
    text-align: start;
}

.personality__column__id {
    display: flex;
    justify-content: space-around;
}


.personality__column__id__title {
    padding-top: 25px;
    color: #ff9933;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-right: 15px;
    width: 115px;
}

.personality__column__id__subtitle {
    width: 100px;
    height: 100px;
}

.personality__column__id-description {
    width: 150px;
    height: 24px;
    color: #CACACA;
    font-size: 16px;
    margin-top: 9px;
}

.personality__main-line {
    position: absolute;
    top: 135px;
    bottom: 0;
    background: #F3F3F3;
    width: 100%;
    height: 1px;
}

.personality__column__nav {
    margin-top: 42px;
    padding-left: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personality__column__nav__item {
    background: #fff;
    border: 0;
    cursor: pointer;
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #828282;
    margin-top: 5px;
    transition: color .2s linear;
}

.personality__column__nav__item:hover {
    color: #000;
}

.personality__column__nav__item.active {
    color: #000;
}

.personality__column__main {
    display: none;
    margin-left: 270px;
}

.personality__column__main__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 200%;
}

.personality__column__main__subtitle {
    margin-bottom: 55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
}

.personality__column__main__radio {
    margin: 10px 0 60px 0;
}

.personality__column__main__radio span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.personality__column__main input {
    font-size: 16px;
}

.custom-radio:not(:last-child) {
    margin-right: 35px;
}

.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #828282;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #828282;
    border-color: #828282;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(218, 223, 225);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {
    border-color: #828282;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::before {
    border-color: #000;
    background-color: #000;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
}

.personality__column__main .panel__main__agree{
    width: 371px;

    margin: 21px 0 38px 0;
}

.personality__column__main .btn {
    width: 371px;
}

/* Liked */

.personality__column__liked {
    width: 532px;
    text-decoration: none;
}

.personality__column__liked__inner {
    display: flex;
}

.personality__column__liked-img-bckg {
    position: relative;
    width: 126px;
    height: 126px;
    background: #F3F3F3;
}

.personality__column__liked-img {
    position: absolute;
    width: 103px;
    height: 87px;
    margin: 19px 12px;
    mix-blend-mode: multiply;
}

.personality__column__liked__info {
    margin-left: 20px;
}

.icon-liked {
    width: 42px;
    height: 24px;
    margin-left: -5px;
}


.personality__column__liked__info-description-icons {
}

.personality__column__liked__info-description-price {
    display: flex;
}

.personality__column__liked__info-suptitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    margin: 10px 0 8px 0;
    color: #434343;
}

.personality__column__liked__info-title {
    font-family: 'Bebas Neue';
    letter-spacing: 0.0375em;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #050505;
}

.personality__column__liked__info-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

.personality__column__liked__info-oldprice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    text-decoration-line: line-through;
    color: #B9B9B9;
    margin-right: 24px;
}

.personality__column__liked__info-newprice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #000000;
}

.personality__column__liked__line {
    width: 532px;
    height: 1px;
    background: #F3F3F3;
    margin: 39px 0 22px 0;
}


/* main.php */

/* main */


.main {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.main__column {
    display: flex;
    flex-direction: column;
}

.main__column--nav {
    width: 14%;
}

.main__column--recommendations {
    width: 17%;
}

.main__column--timeline {
    width: 55%;
}
.main__column__nav {
    display: flex;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
    align-items: center;
    margin: 0 10px 10px;
}

.main__column__nav:hover {
    opacity: 0.8;
}

.main__column__nav img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.recommendations__logo {
    background: #ff9933;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    position: relative;
}
.recommendations__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.main__column__rec {
    margin-top: 30px;
    position: relative;
    border-bottom: #ff9933 1px solid;
    padding: 10px 0;
}


.recommendations__title {
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
    position: absolute;
    top: 10%;
    left: 30%;
}

.recommendations__subtitle {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #808080;
}

.recommendations__subscribe {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 0;
    border: #ff9933 2px solid;
    border-radius: 25px;
    width: 120px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ff9933;
    transition: all 0.2s linear;
}

.recommendations__subscribe:hover {
    background: #ff9933;
    color: #ffffff;
}

.offer {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__news {
    background: transparent;
    cursor: pointer;
    width: 250px;
    border: #ff9933 2px solid;
    border-radius: 25px;
    color: #ff9933;
    font-size: 20px;
    transition: all 0.2s linear;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.offer__news:hover {
    color: #ffffff;
    background: #ff9933;
}

.news {
    display: flex;
    margin: 30px 30px 0;
    border-bottom: dimgrey 1px solid;
    padding: 20px 0;
}

.news__avatar {
    margin-right: 15px;
}

.news__content {
    position: relative;
}

.news__content img {
    width: 100%;
    margin-bottom: 10px;
}

.news__avatar img {
    width: 78px;
    height: 78px;
}

.news__user {
    color: #ff9933;
    font-size: 22px;
    margin: 15px 0;
}

.feedback {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.feedback img {
    width: 30px;
    height: 30px;
}

.feedback div {
    cursor: pointer;
    background: transparent;
    border: 0;
    user-select: none;
}

.like {
    cursor: pointer;
    background: transparent;
    border: 0;
    display: flex;
    margin-right: 30px;
}

.dislike {
    cursor: pointer;
    border: 0;
    background: transparent;
    display: flex;
    margin-top: 5px;
}

.counter__dislike {
    color: #ff9933;
    text-align: center;
    margin-left: 19px;
    margin-top: 3px;
    font-size: 18px;
}

.comments {
    margin-top: 15px;
}

.comments__btn {
    cursor: pointer;
    background: transparent;
    border: 0;
    transition: all .2s linear;
}

.comments__btn.active {
    padding-bottom: 20px;
}

.comments__title {
    display: none;
    overflow: hidden;
    transition: all .2s linear;
}

.comments__content {
    margin: 15px 0;
    display: flex;
    overflow: hidden;
    border-bottom: #1241 1px solid;
    padding-bottom: 10px;
    transition: all .2s linear;
}

.comment__avatar img {
    width: 50px;
    height: 50px;
}

.comments__content__main {
    margin-left: 10px;
}

.comments__content__login {
    color: #ff9933;
}

.comment__main {
    margin: 5px 0;
    transition: all .2s linear;
}

.add__comment input {
    width: 550px;
    margin: 10px;
    border: 0;
    outline: 0;
    font-size: 13px;
    border-bottom: #da9f65 1px solid;
    border-left: #da9f65 1px solid;
    padding: 5px;
}

.answer__btn {
    font-family: cursive;
    margin: 10px 5px;
    text-decoration: none;
    color: #da9f65;
    transition: color .2s linear;
}

.answer__btn:hover {
    color: #a56628;
    opacity: 0.8;
}

.comments__content__main input {
    width: 488px;
    margin: 10px;
    border: 0;
    outline: 0;
    font-size: 13px;
    border-bottom: #da9f65 1px solid;
    border-left: #da9f65 1px solid;
    padding: 5px;
}

.comments__answer__main {
    display: flex;
    margin-left: 10px;
}

.comments__answer__main .comment__avatar img{
    width: 25px;
    height: 25px;
}

.comments__answer__main .comments__content__login, .comments__answer__main .comment__main {
    font-size: 13px;
}

.counter__like {
    color: #ff9933;
    text-align: center;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 18px;
}


#add__offer {
    background: rgba(102, 102, 102, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#add__offer_window {
    width: 700px;
    height: 333px;
    text-align: center;
    padding: 15px;
    border: 3px solid #ff9933;
    border-radius: 10px;
    color: #ff9933;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#add__offer:target {display: block;}

.add__offer_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

#massage {
    resize: none;
    width: 650px;
    height: 125px;
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 10px 12px;
    background-image: none;
    border: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.add__post__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
    transition: all .2s linear;
}

.input__file-button-text:hover {
    color: #ff9933;
}

.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #ff9933;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    transition: all .2s linear;
}

.input__file-button:hover {
    background: #ffffff;
}

.input__file-button:hover, .input__file-button-text:hover {
    color: #ff9933;
}
